.chat-window {
    width: 300px;
    height: 400px;
    border: 1px solid #4080FF;
    border-radius: 20px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.chat-float {
    font-size: 16px;
    /* Cambiar el tamaño de la tipografia */
    /* text-transform: uppercase; */
    /* Texto en mayusculas */
    font-weight: bold;
    /* Fuente en negrita o bold */
    color: #000000;
    /* Color del texto */
    border-radius: 5px;
    /* Borde del boton
    */
    letter-spacing: 2px;
    /* Espacio entre letras */
    background-color: #ffffff;
    /* Color de fondo */
    padding: 18px 30px;
    /* Relleno del boton */
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

.title {
    padding-top: 10px;
    margin-left: 10px;
}

.headerButtons {
    margin: auto;
}

.app-message {
    overflow-y: scroll;
    height: 60%;
    /*background:gray;*/
    padding: 5px;
}

.btn-circle-open {
    width: 50px;
    height: 50px;
    padding: 6px 0px;
    border-radius: 30px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

.btn-circle-close {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 30px;
    font-size: 12px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
}